/* Work Sans Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 15rem;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
#header-logo-image{
    width: 5.4rem;
    height: 2.5rem;
}
#header-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}
#header-title-color{
    color: #ff42a5;
}
.header-menu ul{
    display: flex;
    align-items: center;
}
.header-menu li{
    list-style: none;
    padding-right: 1.5rem;
}
.follow-us-icon{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}


.follow-us-icon{
    height: 3.5rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}
#header-yt-icon{
    width: 2.12rem;
    height: 1.5rem;
}
#header-tiktok-icon{
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 1.5rem;
}
.menu-text{
    padding-left: 1.5rem;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}



 /* Mobile Responsive */

@media screen and (max-width:576px) {
    /* nav bar responsive */
    nav{
        flex-direction: column;
        padding: 0px;
    }
    .header-menu ul{
        flex-direction: column;
        padding: 0px;
    }
    .header-menu li{
        padding-top: 1.25rem;  
       
    }
    .follow-us-icon{
        margin-top: 1.25rem;
    }
   
}

/* Tablet Responsive */

@media screen and (min-width:576px) and (max-width:960px) {
    /* nav bar responsive */
    nav{
        flex-direction: column;
        padding: 0px;
    }
    .header-menu ul{
        flex-direction: column;
        padding: 0px;
    }
    .header-menu li{
        padding-top: 1.25rem;  
       
    }
    .follow-us-icon{
        margin-top: 1.25rem;
    }
   
}

