/* Work Sans Font Import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
}
.header-logo{
    display: flex;
    align-items: center;
    gap: 1.25rem;
}
#header-logo-image{
    width: 5.4rem;
    height: 2.5rem;
}
#header-title{
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
}
#header-title-color{
    color: #ff42a5;
}
.header-menu ul{
    display: flex;
    align-items: center;
}
.header-menu li{
    list-style: none;
    padding-right: 1.5rem;
}
.follow-us-icon{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
}


.follow-us-icon{
    height: 3.5rem;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);

}
#header-yt-icon{
    width: 2.12rem;
    height: 1.5rem;
}
#header-tiktok-icon{
    width: 1.5rem;
    height: 1.5rem;
    padding-right: 1.5rem;
}
.menu-text{
    padding-left: 1.5rem;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.header-container{
    display: flex;
}
.header-left{
    background-image: url('../images/Group\ 14.png');
    background-size: auto;
    background-repeat: no-repeat;
    padding: 0 15rem;
}
.header-left-h3{
    margin: 0 auto;
    color: #0B0223;
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 9.25rem;
}
.header-left-title{
    margin: 0 auto;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 0;
}


.header-right{
    padding-right: 15rem;
}
.header-right img{
    width: 100%;
    height: 100%;
}
.header-des{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}
.header-des img{
    width: 24px;
    height: 24px;
}
.header-des-text{
    color: #534C64;
    font-size: 1.1rem;
    font-weight: 500;
    margin: 10px;
}
.button-collection{
    display: flex;
    justify-content: space-around;
}
.button-1{
    border-radius: 48px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    display: inline-flex;
    padding: 1.25rem 2.5rem;
    gap: 10px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 2.5rem;
}
.button-2{
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 1.25rem 2.5rem;
    gap: 10px;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    margin-top: 2.5rem;
    
}

.online-games-title{
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    padding-top: 7.5rem;
}
#online-games-title-span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.online-games-des{
    color: #534C64;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    
}
.online-games-container{
    display: flex;
    padding: 1.25rem 15rem;
    gap: 24px;
}
.online-games-poster{
    width: 300px;
    
    border: 0;
    border-radius: 16px;

}

.online-games-poster-des{
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
}





 /* Mobile Responsive */

@media screen and (max-width:576px) {
    /* nav bar responsive */
    nav{
        flex-direction: column;
        padding: 0px;
    }
    .header-menu ul{
        flex-direction: column;
        padding: 0px;
    }
    .header-menu li{
        padding-top: 1.25rem;  
       
    }
    .follow-us-icon{
        margin-top: 1.25rem;
    }

    /* Header responsive */

    .header-container{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .header-right{
        padding-right: 0;
    }
    .header-left{
        padding: 0;
        
    }
    .header-left-h3{
        font-size: 2rem;
        padding-top: 50px;
    }
    .header-left-title{
        font-size: 4.2rem;
    }
    ..header-des img{
        margin-left: 60px;
    }
    .header-des-text{
        font-size: .8rem;
    }
    .header-des-container{
        padding-left: 65px;
    }

    /* Online Games Responsive */

    .online-games-container{
        flex-direction: column;
        padding: 0;
        margin-left: 50px;
    }
    
   
}

/* Tablet Responsive */

@media screen and (min-width:576px) and (max-width:960px) {
    /* nav bar responsive */
    nav{
        flex-direction: column;
        padding: 0px;
    }
    .header-menu ul{
        flex-direction: column;
        padding: 0px;
    }
    .header-menu li{
        padding-top: 1.25rem;  
       
    }
    .follow-us-icon{
        margin-top: 1.25rem;
    }

    /* Header responsive */

    .header-container{
        flex-direction: column;
        flex-direction: column-reverse;
    }
    .header-right{
        padding-right: 0;
    }
    .header-left{
        padding: 0;
        
    }
    .header-des-container{
        padding-left: 250px;
    }
    /* Online Games Responsive */

    .online-games-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 50px;
        
    }
   
}

